* {
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header{
  margin-top: 100px;
  /*Da nav er fixed position er der en margin på toppen af siden på højde med nav*/
}

#text{
  padding: 0px 50px;
}

#img-art-grid article{
  padding-bottom: 80px;
}

a:hover{
  opacity: .7;
  transition: .2s ease-in-out;
  /*Global hover funktion på alle links*/
}