@import url(global.css);
@import url(nav.css);
@import url(footer.css);

/* <!-- IMG GRID --> */

#indexgrid{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px 250px;
    gap: 20px;
    grid-template-areas: 
    "indexgrid1 indexgrid1 indexgrid2 indexgrid3 indexgrid3"
    "indexgrid1 indexgrid1 indexgrid4 indexgrid5 indexgrid5"
    "indexgrid6 indexgrid7 indexgrid7 indexgrid5 indexgrid5"
    "indexgrid6 indexgrid8 indexgrid9 indexgrid9 indexgrid10"
    ;
}

#indexgrid div{
    height: 100%;
}

#indexgrid a{
    text-decoration: none;
}

#indexgrid h2{
    padding: 0px;
    font-size: 25px;
}

#indexgrid2 h2, #indexgrid4 h2, #indexgrid8 h2, #indexgrid10 h2{
    font-size: 18px;
} 

#indexgrid p{
    color: white;
    font-size: 20px;
}

#indexgrid2 p, #indexgrid4 p, #indexgrid8 p, #indexgrid10 p{
    font-size: 15px;
} 

.indexgrid{
    background-image: url(/img/Billedmateriale/banegård.jpg);
    background-position: center top;
    background-size: cover;
}

#indexgrid1{grid-area: indexgrid1;}
#indexgrid2{grid-area: indexgrid2;}
#indexgrid3{grid-area: indexgrid3;}
#indexgrid4{grid-area: indexgrid4;}
#indexgrid5{grid-area: indexgrid5;}
#indexgrid6{grid-area: indexgrid6;}
#indexgrid7{grid-area: indexgrid7;}
#indexgrid8{grid-area: indexgrid8;}
#indexgrid9{grid-area: indexgrid9;}
#indexgrid10{grid-area: indexgrid10;}

/* <!-- IMG GRID --> */

/* <!-- EVENTS --> */
#Event{
    width: 100vw;
    height: 100vh;
    background-color: #4F14A0;
    position: relative;
    overflow: hidden;
    color: white;
}
#Event>h3{
    position: absolute;
    top: 4vw;
    left: 4vw;
    font-size: large;
}
#Event_box{
    width: 93vw;
    height: 12vw;
    position: absolute;
    left: 4vw;
    top: 9vw;
}
#Event_box>h3{
    font-size: 5.5vw;
    text-align: center;
    position: absolute;
    top: 1.5vw;
}
#Event_box>h3>p{
    font-size: 1.5vw;
}
#Event_box>article{
    width: 52vw;
    height: 9vw;
    position: absolute;
    top: 2.5vw;
    margin-left: 8vw;
    word-wrap: break-word;
}
#Event_box>img{
    position: absolute;
    height: 12vw;
    width: 30vw;
    right: 1vw;
    background-color: salmon;
}
#Event_box1{
    width: 93vw;
    height: 12vw;
    position: absolute;
    left: 4vw;
    top: 22vw;
}
#Event_box1>h3{
    font-size: 5.5vw;
    text-align: center;
    position: absolute;
    top: 1.5vw;
}
#Event_box1>h3>p{
    font-size: 1.3vw;
}
#Event_box1>article{
    width: 52vw;
    height: 9vw;
    position: absolute;
    top: 2.5vw;
    margin-left: 8vw;
}
#Event_box1>img{
    position: absolute;
    height: 12vw;
    width: 30vw;
    right: 1vw;
    background-color: salmon;
}
#Event_box2{
    width: 93vw;
    height: 12vw;
    position: absolute;
    left: 4vw;
    top: 35vw;
}
#Event_box2>h3{
    font-size: 5.5vw;
    text-align: center;
    position: absolute;
    top: 1.5vw;
}
#Event_box2>h3>p{
    font-size: 1.3vw;
}
#Event_box2>article{
    width: 52vw;
    height: 10vw;
    position: absolute;
    top: 2.5vw;
    margin-left: 8vw;
    word-wrap: break-word;
}
#Event_box2>img{
    position: absolute;
    height: 12vw;
    width: 30vw;
    right: 1vw;
    background-color: salmon;
}

#Udforsk_Kolding_Box{
    max-width: 1630px;
    margin: auto auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2 minmax(200px,1fr));
    grid-template-areas: 
    "Udforsk_articlebox figure1 figure2 figure3"
    "Udforsk_articlebox figure4 figure5 figure6";
    gap: 1.5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  #Udforsk_articlebox{
    grid-area: Udforsk_articlebox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4vw;
    width: 25vw;
  }
  #Udforsk_articlebox h2{
    font-size: 2vw;
    margin-bottom: 1.5vw;
  }
  #Udforsk_articlebox p{
    font-size: 1.3vw;
  }
  #Udforsk_Kolding_Box figure {
    margin-bottom: 1.5vw;
  }
  #Udforsk_Kolding_Box img {
    margin-bottom: 1.5vw;
    background-color: salmon;
  }
  #figure1 {
    grid-area: figure1;
    
  }
  #figure2 {
    grid-area: figure2;
  }
  #figure3 {
    grid-area: figure3;
  }
  #figure4 {
    grid-area: figure4;
  }
  #figure5 {
    grid-area: figure5;
  }
  #figure6 {
    grid-area: figure6;
  }
  figure h3 {
    text-align: center;
    font-size: 1.3vw;
    padding-top: 0.3vw;
  }
/* <!-- EVENTS --> */

/* <!-- MAPS --> */

/* <!-- MAPS --> */

/* Media screen */

@media screen and (max-width: 1280px){
    /*Tablet*/
}

@media screen and (max-width: 800px) {
    /*Mobile*/
}