@import url(/css/global.css);
@import url(/css/nav.css);
@import url(/css/footer.css);

header {
  display: flex;
  align-items: flex-end;
  min-height: 560px;
  background-image: url(/img/Billedmateriale/Koldingfjordhotel_0.jpg);
  background-size: cover;
  background-position: center center;
}
#headertext {
  background-color: white;
  color: black;
  margin-left: 90px;
  padding-left: 70px;
  padding-right: 300px;
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 40px;
}

#h3hoverimgwide {
  position: absolute;
  font-size: 3vw;
  text-align: center;
  width: 20vw;
  height: 4vw;
  background-color: white;
  bottom: 0;
  left: 4vw;
}

#articlewide > p {
  width: 60vw;
  height: 6vw;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 2vw;
  font-size: 1vw;
  word-break: break-all;
}

.item1u {
  grid-area: q;
}
.item2u {
  grid-area: w;
}
.item3u {
  grid-area: e;
}
.item4u {
  grid-area: r;
}
.item5u {
  grid-area: t;
}
.item6u {
  grid-area: y;
}

.grid-underside1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "q w"
    "r e"
    "t y";
  background-color: #b8b8b8;
  grid-gap: 0.4vw;
  padding: 0.5vw;
}

.grid-underside1 > div {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: left;
}

.grid-underside1 > div > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.grid-underside1 > div > p {
  margin: 1vw;
  font-size: 2vw;
  word-break: break-all;
}
