@import url(global.css);
@import url(nav.css);
@import url(footer.css);

header {
  display: flex;
  align-items: flex-end;
  min-height: 560px;
  background-image: url(../img/Billedmateriale/Koldingfjordhotel_0.jpg);
  background-size: cover;
  background-position: center center;
}

#headertext {
  background-color: white;
  color: black;
  margin-left: 90px;
  padding-left: 70px;
  padding-right: 300px;
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 40px;
}
#text {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

#grid {
  color: white;
  background-color: #4f14a0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(500px);
  font-size: 18px;
  column-gap: 50px;
  padding: 100px 50px;
  grid-template-areas: "text1 text2 text3";
}

#text1 {
  grid-area: text1;
}

#text2 {
  grid-area: text2;
}

#text3 {
  grid-area: text3;
}

#textsection {
  padding: 50px;
  gap: 25px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "column1 column2";
}

#column1 {
  grid-area: column1;
}

#column2 {
  grid-area: column2;
}

#textsection img {
  padding: 20px 0px;
  width: 100%;
}

#textsection p {
  padding: 10px 0px;
}

@media screen and (min-width: 990px) {
  #img2{
    display: none;
  }
}

@media screen and (max-width: 990px) {

  #img1{
    display: none;
  }

  #img2{
    display: block;
    width: 100%;
  }
  
  #headertext {
    margin: 0px auto;
    margin-left: 50px;
    padding-left: 50px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 15px;
  }

  #grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "text1"
      "text2"
      "text3"; 
  }

  #grid div{
    padding: 20px 0px;
  }

  #textsection{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 
    "column1 column2"
    ;
  }
  
}

@media screen and (max-width: 600px) {
  #headertext {
    text-align: center;
    padding: 30px 60px 15px;
    font-size: 40px;
    margin: 0px auto;
  }
  
  #textsection{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "column2"
  "column1"
  ;
  padding: 0px;
}

#textsection img{
  width: 100%;
  padding: 0px;
}

#column1{
  padding: 50px;
}
  
}